.myHeader img {
	width: 80%;
	height: auto;
	max-width: 100px;
	min-width: 50px;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: rgba(89, 161, 163, 0.49);
}

.summary {
	margin-top: 20px;
	margin-bottom: 20px;
}


.myPreview img {
	width: 100%;
	height: auto;
}
