<div class="weather-result col-12 col-md-6">
  <div class="row">
    <div class="name col-12 col-md-4">City</div>
    <div class="col-12 col-md-8">{{weather.name}}</div>
  </div>
  <div class="row">
    <div class="name col-12 col-md-4">Temp</div>
    <div class="col-12 col-md-8">{{weather.main.temp + '℃'}}</div>
  </div>
  <div class="row">
    <div class="name col-12 col-md-4">Feel</div>
    <div class="col-12 col-md-8">{{weather.main.feels_like + '℃'}}</div>
  </div>
  <div class="row">
    <div class="name col-12 col-md-4">Wind</div>
    <div class="col-12 col-md-8">{{weather.wind + 'm/sec'}}</div>
  </div>
  <div class="row">
    <div class="name col-12 col-md-4">Humidity</div>
    <div class="col-12 col-md-8">{{weather.main.humidity + '%'}}</div>
  </div>
  <div class="row">
    <div class="name col-12 col-md-4">Pressure</div>
    <div class="col-12 col-md-8">{{weather.main.pressure + 'kPa'}}</div>
  </div>
</div>
